{{#packageName}}
package {{packageName}};
{{/packageName}}

{{#deprecated}}
@java.lang.Deprecated
{{/deprecated}}
public interface {{interfaceClassName}} {
{{#unaryMethods}}
    {{#javaDoc}}
    {{{javaDoc}}}
    {{/javaDoc}}
    {{#deprecated}}
    @java.lang.Deprecated
    {{/deprecated}}
    {{outputType}} {{methodName}}({{inputType}} request);
{{/unaryMethods}}
{{#serverStreamingMethods}}
    {{#javaDoc}}
    {{{javaDoc}}}
    {{/javaDoc}}
    {{#deprecated}}
    @java.lang.Deprecated
    {{/deprecated}}
    reactor.core.publisher.Mono<{{outputType}}> {{methodName}}({{inputType}} request);
{{/serverStreamingMethods}}
{{#biStreamingMethods}}
    {{#javaDoc}}
    {{{javaDoc}}}
    {{/javaDoc}}
    {{#deprecated}}
    @java.lang.Deprecated
    {{/deprecated}}
    reactor.core.publisher.Mono<{{outputType}}> {{methodName}}(reactor.core.publisher.Mono<{{inputType}}> request);
{{/biStreamingMethods}}
}
